@model LetsParty.Domain.ViewModel.AnuncioViewModel

<div class="col-md-3">
    <p class="lead">Categorias</p>
    <div class="list-group">
        @Html.ActionLink("Infantis", "PesquisaAnuncio", "Anuncio", new { busca = "Infantis" }, new { @class = "list-group-item" })
        @Html.ActionLink("Casamentos", "PesquisaAnuncio", "Anuncio", new { busca = "Casamentos" }, new { @class = "list-group-item" })
        @Html.ActionLink("Formatura", "PesquisaAnuncio", "Anuncio", new { busca = "Formatura" }, new { @class = "list-group-item" })
        @Html.ActionLink("Debutantes", "PesquisaAnuncio", "Anuncio", new { busca = "Debutantes" }, new { @class = "list-group-item" })
        @Html.ActionLink("Recepções", "PesquisaAnuncio", "Anuncio", new { busca = "Recepções" }, new { @class = "list-group-item" })
        @Html.ActionLink("Salões", "PesquisaAnuncio", "Anuncio", new { busca = "Buffet" }, new { @class = "list-group-item" })
        @Html.ActionLink("Produtos festivos", "PesquisaAnuncio", "Anuncio", new { busca = "Produtos" }, new { @class = "list-group-item" })
        
    </div>
    <hr />
    <p class="lead">Regiões</p>
    @Html.ActionLink("Acre", "PesquisaAnuncio", "Anuncio", new { busca = "Infantis" }, new { @class = "list-group-item" })
    @Html.ActionLink("Alagoas", "PesquisaAnuncio", "Anuncio", new { busca = "Casamentos" }, new { @class = "list-group-item" })
    @Html.ActionLink(" Amazonas", "PesquisaAnuncio", "Anuncio", new { busca = "Formatura" }, new { @class = "list-group-item" })
    @Html.ActionLink("Bahia", "PesquisaAnuncio", "Anuncio", new { busca = "Debutantes" }, new { @class = "list-group-item" })
    @Html.ActionLink("Ceará", "PesquisaAnuncio", "Anuncio", new { busca = "Recepções" }, new { @class = "list-group-item" })
    @Html.ActionLink(" Distrito Federal", "PesquisaAnuncio", "Anuncio", new { busca = "Buffet" }, new { @class = "list-group-item" })
    @Html.ActionLink("Espírito Santos", "PesquisaAnuncio", "Anuncio", new { busca = "Produtos" }, new { @class = "list-group-item" })
    @Html.ActionLink("Goiás", "PesquisaAnuncio", "Anuncio", new { busca = "Produtos" }, new { @class = "list-group-item" })
    @Html.ActionLink("Maranhão", "PesquisaAnuncio", "Anuncio", new { busca = "Produtos" }, new { @class = "list-group-item" })
    @Html.ActionLink("Mato Grosso", "PesquisaAnuncio", "Anuncio", new { busca = "Produtos" }, new { @class = "list-group-item" })
    @Html.ActionLink("Mato Grosso do Sul", "PesquisaAnuncio", "Anuncio", new { busca = "Produtos" }, new { @class = "list-group-item" })
    @Html.ActionLink("Minas Gerais", "PesquisaAnuncio", "Anuncio", new { busca = "Produtos" }, new { @class = "list-group-item" })
    @Html.ActionLink("Pará", "PesquisaAnuncio", "Anuncio", new { busca = "Produtos" }, new { @class = "list-group-item" })
    @Html.ActionLink("Paraíba", "PesquisaAnuncio", "Anuncio", new { busca = "Produtos" }, new { @class = "list-group-item" })
    @Html.ActionLink("Pernambuco", "PesquisaAnuncio", "Anuncio", new { busca = "Produtos" }, new { @class = "list-group-item" })
    @Html.ActionLink("Piauí", "PesquisaAnuncio", "Anuncio", new { busca = "Produtos" }, new { @class = "list-group-item" })
    @Html.ActionLink("Rio de Janeiro", "PesquisaAnuncio", "Anuncio", new { busca = "Produtos" }, new { @class = "list-group-item" })
    @Html.ActionLink("Rio Grande do Norte", "PesquisaAnuncio", "Anuncio", new { busca = "Produtos" }, new { @class = "list-group-item" })
    @Html.ActionLink("Rio Grande do Sul", "PesquisaAnuncio", "Anuncio", new { busca = "Produtos" }, new { @class = "list-group-item" })
    @Html.ActionLink("Rondônia", "PesquisaAnuncio", "Anuncio", new { busca = "Produtos" }, new { @class = "list-group-item" })
    @Html.ActionLink("Roraima", "PesquisaAnuncio", "Anuncio", new { busca = "Produtos" }, new { @class = "list-group-item" })
    @Html.ActionLink("Santa Catarina", "PesquisaAnuncio", "Anuncio", new { busca = "Produtos" }, new { @class = "list-group-item" })
    @Html.ActionLink("São Paulo", "PesquisaAnuncio", "Anuncio", new { busca = "Produtos" }, new { @class = "list-group-item" })
    @Html.ActionLink("Sergipe	", "PesquisaAnuncio", "Anuncio", new { busca = "Produtos" }, new { @class = "list-group-item" })
    @Html.ActionLink("Tocantins","PesquisaAnuncio", "Anuncio", new { busca = "Produtos" }, new { @class = "list-group-item" })


</div>