@model LetsParty.Domain.ViewModel.AnuncioViewModel

<div class="col-md-3">
    <p class="lead">Categorias</p>
    <div class="list-group">
        @Html.ActionLink("Infantis", "PesquisaAnuncio", "Anuncio", new { busca = "Infantis" }, new { @class = "list-group-item" })
        @Html.ActionLink("Casamentos", "PesquisaAnuncio", "Anuncio", new { busca = "Casamentos" }, new { @class = "list-group-item" })
        @Html.ActionLink("Formatura", "PesquisaAnuncio", "Anuncio", new { busca = "Formatura" }, new { @class = "list-group-item" })
        @Html.ActionLink("Debutantes", "PesquisaAnuncio", "Anuncio", new { busca = "Debutantes" }, new { @class = "list-group-item" })
        @Html.ActionLink("Recepções", "PesquisaAnuncio", "Anuncio", new { busca = "Recepções" }, new { @class = "list-group-item" })
        @Html.ActionLink("Salões", "PesquisaAnuncio", "Anuncio", new { busca = "Buffet" }, new { @class = "list-group-item" })
        @Html.ActionLink("Produtos festivos", "PesquisaAnuncio", "Anuncio", new { busca = "Produtos" }, new { @class = "list-group-item" })
        
    </div>
    <hr />
    <p class="lead">Regiões</p>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="">
            <span class="cr"></span>
            Rio de Janeiro
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="">
            <span class="cr"></span>
            São Paulo
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="">
            <span class="cr"></span>
            Espirito Santo
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="">
            <span class="cr"></span>
            Minas Gerais
        </label>
    </div>
 
 
</div>