@model LetsParty.Domain.ViewModel.AnuncioViewModel

@{
    Layout = null;
}


<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://localhost:34417/Home">Festeje - O seu site de festas </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            @using (Html.BeginForm("PesquisaAnuncio", "Anuncio", FormMethod.Post, new { @class = "navbar-form navbar-left", role = "search" }))
            {
                <div class="form-group">
                    @Html.EditorFor(model => model.Busca, new { htmlAttributes = new { @class = "form-control", placeholder = " O que procura?", size = "11" } })

                </div>
                <div class="form-group">
                    @Html.EditorFor(model => model.Bairro, new { htmlAttributes = new { @class = "form-control", placeholder = " Bairro", size= "9" } })
                </div>
                <div class="form-group">
                    @Html.EditorFor(model => model.Cidade, new { htmlAttributes = new { @class = "form-control", placeholder = "Cidade", size = "10" } })
                </div>
                <button type="submit" class="btn btn-primary">
                    <span class="glyphicons glyphicons-search"></span>
                    Procurar
                </button>
            }
            <ul class="nav navbar-nav">
                <li>
                    @Html.ActionLink("Anunciar", "Anuncio", "Anuncio")
                </li>
                <li>
                    @Html.ActionLink("Minha conta", "AdminListaUsuario", "Admin")
                </li>

                @if (ViewBag.Logado == false)
                {
                    <li>
                        @Html.ActionLink("Cadastre-se", "Cadastro", "Usuario")
                    </li>
                    <li>
                        @Html.ActionLink("Entrar", "Login", "Usuario")
                    </li>
                }@if (ViewBag.Logado == true)
                {
                    <li>
                        @Html.ActionLink("Sair", "Deslogar", "Usuario")

                    </li>
                }
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>