@model LetsParty.Domain.ViewModel.AnuncioViewModel

<div class="col-md-3">
    <p class="lead">Categorias</p>
    <div class="list-group">
        @Html.ActionLink("Infantis", "PesquisaAnuncio", "Anuncio", new { busca = "Infantis", tipo = "categoria" }, new { @class = "list-group-item" })
        @Html.ActionLink("Casamentos", "PesquisaAnuncio", "Anuncio", new { busca = "Casamentos", tipo = "categoria" }, new { @class = "list-group-item" })
        @Html.ActionLink("Formatura", "PesquisaAnuncio", "Anuncio", new { busca = "Formatura", tipo = "categoria" }, new { @class = "list-group-item" })
        @Html.ActionLink("Debutantes", "PesquisaAnuncio", "Anuncio", new { busca = "Debutantes", tipo = "categoria" }, new { @class = "list-group-item" })
        @Html.ActionLink("Produtos festivos", "PesquisaAnuncio", "Anuncio", new { busca = "Produtos", tipo = "categoria" }, new { @class = "list-group-item" })
        @Html.ActionLink("Buffet", "PesquisaAnuncio", "Anuncio", new { busca = "Buffet", tipo = "categoria" }, new { @class = "list-group-item" })
        @Html.ActionLink("Pegue e monte", "PesquisaAnuncio", "Anuncio", new { busca = "Pegue", tipo = "categoria" }, new { @class = "list-group-item" })
        
    </div>
    <hr />
    <p class="lead">Regiões</p>
    @Html.ActionLink("Acre", "PesquisaAnuncio", "Anuncio", new { busca = "Acre", tipo = "cidade" }, new { @class = "list-group-item" })
    @Html.ActionLink("Alagoas", "PesquisaAnuncio", "Anuncio", new { busca = "Alagoas", tipo = "cidade" }, new { @class = "list-group-item" })
    @Html.ActionLink(" Amazonas", "PesquisaAnuncio", "Anuncio", new { busca = "Amazonas", tipo = "cidade" }, new { @class = "list-group-item" })
    @Html.ActionLink("Bahia", "PesquisaAnuncio", "Anuncio", new { busca = "Bahia", tipo = "cidade" }, new { @class = "list-group-item" })
    @Html.ActionLink("Ceará", "PesquisaAnuncio", "Anuncio", new { busca = "Ceará", tipo = "cidade" }, new { @class = "list-group-item" })
    @Html.ActionLink(" Distrito Federal", "PesquisaAnuncio", "Anuncio", new { busca = "Distrito Federal", tipo = "cidade" }, new { @class = "list-group-item" })
    @Html.ActionLink("Espírito Santos", "PesquisaAnuncio", "Anuncio", new { busca = "Espírito Santos", tipo = "cidade" }, new { @class = "list-group-item" })
    @Html.ActionLink("Goiás", "PesquisaAnuncio", "Anuncio", new { busca = "Goiás", tipo = "cidade" }, new { @class = "list-group-item" })
    @Html.ActionLink("Maranhão", "PesquisaAnuncio", "Anuncio", new { busca = "Maranhão", tipo = "cidade" }, new { @class = "list-group-item" })
    @Html.ActionLink("Mato Grosso", "PesquisaAnuncio", "Anuncio", new { busca = "Mato Grosso", tipo = "cidade" }, new { @class = "list-group-item" })
    @Html.ActionLink("Mato Grosso do Sul", "PesquisaAnuncio", "Anuncio", new { busca = "Mato Grosso do Sul", tipo = "cidade" }, new { @class = "list-group-item" })
    @Html.ActionLink("Minas Gerais", "PesquisaAnuncio", "Anuncio", new { busca = "Minas Gerais", tipo = "cidade" }, new { @class = "list-group-item" })
    @Html.ActionLink("Pará", "PesquisaAnuncio", "Anuncio", new { busca = "Pará", tipo = "cidade" }, new { @class = "list-group-item" })
    @Html.ActionLink("Paraíba", "PesquisaAnuncio", "Anuncio", new { busca = "Paraíba", tipo = "cidade" }, new { @class = "list-group-item" })
    @Html.ActionLink("Pernambuco", "PesquisaAnuncio", "Anuncio", new { busca = "Pernambuco", tipo = "cidade" }, new { @class = "list-group-item" })
    @Html.ActionLink("Piauí", "PesquisaAnuncio", "Anuncio", new { busca = "Piauí", tipo = "cidade" }, new { @class = "list-group-item" })
    @Html.ActionLink("Rio de Janeiro", "PesquisaAnuncio", "Anuncio", new { busca = "Rio de Janeiro", tipo = "cidade" }, new { @class = "list-group-item" })
    @Html.ActionLink("Rio Grande do Norte", "PesquisaAnuncio", "Anuncio", new { busca = "Rio Grande do Norte", tipo = "cidade" }, new { @class = "list-group-item" })
    @Html.ActionLink("Rio Grande do Sul", "PesquisaAnuncio", "Anuncio", new { busca = "Rio Grande do Sul", tipo = "cidade" }, new { @class = "list-group-item" })
    @Html.ActionLink("Rondônia", "PesquisaAnuncio", "Anuncio", new { busca = "Rondônia", tipo = "cidade" }, new { @class = "list-group-item" })
    @Html.ActionLink("Roraima", "PesquisaAnuncio", "Anuncio", new { busca = "Roraima", tipo = "cidade" }, new { @class = "list-group-item" })
    @Html.ActionLink("Santa Catarina", "PesquisaAnuncio", "Anuncio", new { busca = "Santa Catarina", tipo = "cidade" }, new { @class = "list-group-item" })
    @Html.ActionLink("São Paulo", "PesquisaAnuncio", "Anuncio", new { busca = "São Paulo", tipo = "cidade" }, new { @class = "list-group-item" })
    @Html.ActionLink("Sergipe	", "PesquisaAnuncio", "Anuncio", new { busca = "Sergipe", tipo = "cidade" }, new { @class = "list-group-item" })
    @Html.ActionLink("Tocantins", "PesquisaAnuncio", "Anuncio", new { busca = "Tocatins", tipo = "cidade" }, new { @class = "list-group-item" })


</div>