@model  LetsParty.Domain.ViewModel.AnuncioViewModel

@{
    ViewBag.Title = "Administrativo";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="iso-8859-1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SB Admin 2 - Bootstrap Admin Theme</title>
    <!-- Bootstrap Core CSS -->

    <link href="~/Template/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="~/Template/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">
    <!-- Timeline CSS -->
    <link href="~/Template/dist/css/timeline.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/Template/dist/css/sb-admin-2.css" rel="stylesheet">
    <!-- Morris Charts CSS -->
    <link href="~/Template/bower_components/morrisjs/morris.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="~/Template/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="http://localhost:34417/Home">Festeje - O Seu site de festas</a>
                </div>
            </div>
        </nav>
        @Html.Partial("PartialMenuAdmin")

        <!-- /.navbar-static-side -->
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Fornecedores por localidade</h1>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width:70px;">
                        Tipo <span class="caret"></span>
                    </button>
                    @Html.Partial("PartialSelecaoRelatorio")
                </div>
            </div>
            @using (Html.BeginForm("RelatorioLocalidadeComFiltro", "Relatorios", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                <div class="col-lg-6">
                    <div class="col-sm-3 col-lg-3 col-md-3">
                        @Html.LabelFor(model => model.Cidade, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.Cidade, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Cidade, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-sm-3 col-lg-3 col-md-3">
                        @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.Estado, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-sm-3 col-lg-3 col-md-3">
                        @Html.LabelFor(model => model.Bairro, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.Bairro, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Bairro, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-sm-1 col-lg-1 col-md-1">
                        <br />
                        <button type="submit" class="btn btn-primary">Pesquisar</button>
                    </div>
                </div>

            }
            <br />
            <br />
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-body">

                            <div class="dataTable_wrapper">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th> @Html.ActionLink("Fornecedor", "RelatorioLocalidade", "Relatorios", new { sortOrder = ViewBag.FornSortParm, cidade = ViewBag.Cidade, bairro = ViewBag.Bairro, estado = ViewBag.Estado }, "")</th>
                                            <th> @Html.ActionLink("Anuncio", "RelatorioLocalidade", "Relatorios", new { sortOrder = ViewBag.AnuncioSortParm, cidade = ViewBag.Cidade, bairro = ViewBag.Bairro, estado = ViewBag.Estado }, "")</th>
                                            <th> @Html.ActionLink("Serviço", "RelatorioLocalidade", "Relatorios", new { sortOrder = ViewBag.ServSortParm, cidade = ViewBag.Cidade, bairro = ViewBag.Bairro, estado = ViewBag.Estado }, "")</th>
                                            <th> @Html.ActionLink("Telefone", "RelatorioLocalidade", "Relatorios", new { sortOrder = ViewBag.TelSortParm, cidade = ViewBag.Cidade, bairro = ViewBag.Bairro, estado = ViewBag.Estado }, "")</th>
                                            <th> @Html.ActionLink("E-mail", "RelatorioLocalidade", "Relatorios", new { sortOrder = ViewBag.MailSortParm, cidade = ViewBag.Cidade, bairro = ViewBag.Bairro, estado = ViewBag.Estado }, "")</th>
                                            <th> @Html.ActionLink("Rua", "RelatorioLocalidade", "Relatorios", new { sortOrder = ViewBag.RuaSortParm, cidade = ViewBag.Cidade, bairro = ViewBag.Bairro, estado = ViewBag.Estado }, "")</th>
                                            <th> @Html.ActionLink("Nº", "RelatorioLocalidade", "Relatorios", new { sortOrder = ViewBag.NumSortParm, cidade = ViewBag.Cidade, bairro = ViewBag.Bairro, estado = ViewBag.Estado }, "")</th>
                                            <th> @Html.ActionLink("Bairro", "RelatorioLocalidade", "Relatorios", new { sortOrder = ViewBag.BairroSortParm, cidade = ViewBag.Cidade, bairro = ViewBag.Bairro, estado = ViewBag.Estado }, "")</th>
                                            <th> @Html.ActionLink("Cidade", "RelatorioLocalidade", "Relatorios", new { sortOrder = ViewBag.CidadeSortParm, cidade = ViewBag.Cidade, bairro = ViewBag.Bairro, estado = ViewBag.Estado }, "")</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var Anuncio in Model.ListaViewModel)
                                        {
                                            <tr class="odd gradeX">
                                                <td>@Html.DisplayFor(modelItem => Anuncio.NomeUsuario)</td>
                                                <td>@Html.DisplayFor(modelItem => Anuncio.Titulo)</td>
                                                <td>@Html.DisplayFor(modelItem => Anuncio.NomeServico)</td>
                                                <td>@Html.DisplayFor(modelItem => Anuncio.Telefone)</td>
                                                <td>@Html.DisplayFor(modelItem => Anuncio.Email)</td>
                                                <td>@Html.DisplayFor(modelItem => Anuncio.Endereco)</td>
                                                <td>@Html.DisplayFor(modelItem => Anuncio.Numero)</td>
                                                <td>@Html.DisplayFor(modelItem => Anuncio.Bairro)</td>
                                                <td>@Html.DisplayFor(modelItem => Anuncio.Cidade)</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="../bower_components/metisMenu/dist/metisMenu.min.js"></script>
    <!-- Morris Charts JavaScript -->
    <script src="~/Template/bower_components/raphael/raphael-min.js"></script>
    <script src="~/Template/bower_components/morrisjs/morris.min.js"></script>
    <script src="~/Template/js/morris-data.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="../dist/js/sb-admin-2.js"></script>
    <script>
        $(document).ready(function () {
            $('#dataTables-example').DataTable({
                responsive: true
            });
        });
    </script>

</body>

</html>
