@model LetsParty.Domain.ViewModel.AnuncioViewModel
@{
    ViewBag.Title = "Resultado Pesquisa";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Shop Homepage - Start Bootstrap Template</title>
    <!-- Bootstrap Core CSS -->

    <link href="/Template/css/bootstrap.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="~/Template/css/CarouselRows.css" rel="stylesheet" />
    <link href="/Template/css/shop-homepage.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://localhost:34417/Home">Festeje - O Seu site de festas</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                @using (Html.BeginForm("PesquisaAnuncio", "Anuncio", FormMethod.Post, new { @class = "navbar-form navbar-left", role = "search" }))
                {
                    <div class="form-group">
                        @Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { @class = "form-control", placeholder = " Procurar", size = "100" } })

                    </div>
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicons glyphicons-search"></span>
                        Procurar
                    </button>
                }
                <ul class="nav navbar-nav">
                    <li>
                        @Html.ActionLink("Anunciar", "Anuncio", "Anuncio")
                    </li>
                    <li>
                        @Html.ActionLink("Minha conta", "Administrativo", "Admin")
                    </li>
                    <li>
                        @Html.ActionLink("Cadastre-se", "Cadastro", "Usuario")
                    </li>
                    @if (ViewBag.Logado == false)
                    {
                        <li>
                            @Html.ActionLink("Entrar", "Login", "Usuario")
                        </li>
                    }@if (ViewBag.Logado == true)
                    {
                        <li>
                            @Html.ActionLink("Sair", "Deslogar", "Usuario")
                        </li>
                    }
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <p class="lead">Categorias</p>
                <div class="list-group">
                    <a href="#" class="list-group-item">Festas Infantis</a>
                    <a href="#" class="list-group-item">Casamentos</a>
                    <a href="#" class="list-group-item">15 anos</a>
                    <a href="#" class="list-group-item">Formaturas</a>
                    <a href="#" class="list-group-item">Recepções</a>
                    <a href="#" class="list-group-item">Produtos festivos</a>
                    <a href="#" class="list-group-item">Salões</a>
                </div>
                <hr />
                <p class="lead">Regiões</p>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        <span class="cr"></span>
                        Rio de Janeiro
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        <span class="cr"></span>
                        São Paulo
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        <span class="cr"></span>
                        Espirito Santo
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        <span class="cr"></span>
                        Minas Gerais
                    </label>
                </div>
                <hr />
                <p class="lead">Tipo</p>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        <span class="cr"></span>
                        Serviços
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        <span class="cr"></span>
                        Produtos
                    </label>
                </div>
            </div>
            <div class="col-md-9">
                <hr>
                <!-- Begin of rows -->
                @if (Model != null)
                {
                    foreach (var Anuncio in Model.ListaAnuncio)
                    {
                        <div class="row carousel-row">
                            <div class="col-xs-8 col-xs-offset-2 slide-row">
                                <div id="carousel-1" class="carousel slide slide-carousel" data-ride="carousel">
                                    <!-- Indicators -->
                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner">
                                        <div class="item active">
                                            <img src="http://lorempixel.com/150/150?rand=1" alt="Image">
                                        </div>

                                    </div>
                                </div>
                                <div class="slide-content">
                                    <h4>@Html.DisplayFor(modelItem => Anuncio.Titulo)</h4>
                                    <p>
                                        @Html.DisplayFor(modelItem => Anuncio.Descricao)
                                    </p>
                                </div>
                                <div class="slide-footer">
                                    <span class="pull-right buttons">
                                        <button class="btn btn-sm btn-default"><i class="fa fa-fw fa-eye"></i> Ver</button>
                                        <button class="btn btn-sm btn-primary"><i class="fa fa-fw fa-shopping-cart">Contratar</i> </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    }
                }
                <div class="row carousel-row">
                    <div class="col-xs-8 col-xs-offset-2 slide-row">
                        <div id="carousel-3" class="carousel slide slide-carousel" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-3" data-slide-to="0" class="active"></li>
                                <
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img src="http://lorempixel.com/150/150?rand=7" alt="Image">
                                </div>
                                <div class="item">
                                    <img src="http://lorempixel.com/150/150?rand=8" alt="Image">
                                </div>
                                <div class="item">
                                    <img src="http://lorempixel.com/150/150?rand=9" alt="Image">
                                </div>
                            </div>
                        </div>
                        <div class="slide-content">
                            <h4>Example product</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                                sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
                            </p>
                        </div>
                        <div class="slide-footer">
                            <span class="pull-right buttons">
                                <button class="btn btn-sm btn-default"><i class="fa fa-fw fa-eye"></i> Show</button>
                                <button class="btn btn-sm btn-primary"><i class="fa fa-fw fa-shopping-cart"></i> Buy</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
    <div class="container">
        <hr>
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Festeje.com 2015</p>
                </div>
            </div>
        </footer>
    </div>
    <!-- /.container -->
    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
</body>
</html>
